# Pythonキャッシュ
__pycache__/
*.py[cod]
*$py.class

# 仮想環境（もしフォルダ内に作っていた場合）
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 大容量ファイル・圧縮ファイル
*.zip
*.tar.gz

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/